/* Generic */

body {
    padding: 1rem 2rem;
    margin: auto;
    max-width: 1200px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

input,
textarea {
    display: block;
    margin-bottom: 1rem;
}

ul:has(img) {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

img {
    max-width: 500px;
    max-height: 500px;
}

form img {
    max-width: 200px;
    max-height: 200px;
}

.button,
button {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    cursor: pointer;
}

.button.small {
    padding: 0.25rem 0.5rem;
}

/* Specific */

/* Utilities */

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.ml-4 {
    margin-left: 1rem;
}
.ml-auto {
    margin-left: auto;
}
